@import '../../../styles/index.scss';

.tags{
    font-family: "Figtree";
    font-weight: 300;
    font-size: .75rem;
    padding-block: 5px;
    color: $tertiary-color-serpia;
    padding-inline: 14px;
    border-radius: 20px;
    margin: 3px;

    &.serpia {
        background-color: $hover-tag;
    }

    &.noite {
        background-color: $tertiary-color-noite;
    }

    &:hover{
        cursor: pointer;

        &.serpia {
            background-color: $text-color-serpia;
        }
    
        &.noite {
            background-color: $text-color-noite;
            color: $primary-color-noite;
        }
    }

    .a{
        text-decoration: none;
    }
}
