@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.tags{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    background: #5f4b3280;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
    color: #fcfcfc;
    margin: 2px;
    vertical-align: text-bottom;
}

.tags:hover{
    background-color: #5F4B32;
    cursor: pointer;
}
