@import '../../styles/index.scss';

.senha {
    color: $tertiary-color-noite;
    width: 60%;
    font-size: 1.5vw;
    padding: 8px;
    border-radius: 6px;
    z-index: 1200;
    &::placeholder {
        font-size: 1.2rem;
        font-weight: bold;
        opacity: 0.3;
    }
    &.noite { 
        background: $secondary-color-noite;
        border: 2px solid $tertiary-color-noite;
    }
    &.serpia {
        background: $secondary-color-serpia;
        border: 2px solid $dourado;
    }
    &:focus {
        outline: none;
    }
}

.botaoConfirma{
    z-index: 1200;
    display: flex;
    margin-left: 1rem;
    .svgMaterial {
        font-size: 2rem;
    }
    &.noite {
        .svgMaterial {
            color: $text-color-noite;
        }
    }
    &.serpia {
        .svgMaterial {
            color: $text-color-serpia;
        }
    }
}

@media (max-width: 1024px) {
    .senha {
        &::placeholder {
            font-size: .6rem;
        }
    }
}