@import '../../styles/index.scss';

.banner {
    width: 100vw;
    height: 500px;

    // isso aqui em baixo é só uma gambiarra para deixar o fundo desfocado
    // ja que o fundo é provisorio
    // nao imagino ter que fazer isso para a versão final
    
    &::before {
        content: '';
        position: fixed;
        top: $header-size;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        
        width: 100vw;
        height: 500px;
        background-image: url('/temp/banner-temp.png');
        background-repeat: no-repeat;
        background-size: cover; /* Resize the background image to cover the entire container */
        
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -o-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);

    }
    .bannerContent {
        max-width: 1300px;
        margin: auto;

        display: flex;
        color: #000;
        .textoBanner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            width: 50%;
            .tituloPage{
                font-family: 'Gloock', Georgia, 'Times New Roman', Times, serif;
                font-size: 3.8rem;
            }
            p {
                font-size: 2.2rem;
            }
        }
        .imgBanner {
            // background-color: blue;
            width: 50%;
            height: 500px;
            display: flex;
            align-items: end;
            img {
                height: 90%;
            }
        }
    }
}