@import '../../../styles/index.scss';

.alinhamento{
    padding-top: 7px;
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .fonte{
        font-family: "Figtree", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: italic;
        font-size: .9rem;
        color: $text-color-serpia;
    }
    
    
}