@font-face {
  font-family: 'brand';
  src:  url('fonts/brand.eot?m4uqfv');
  src:  url('fonts/brand.eot?m4uqfv#iefix') format('embedded-opentype'),
    url('fonts/brand.ttf?m4uqfv') format('truetype'),
    url('fonts/brand.woff?m4uqfv') format('woff'),
    url('fonts/brand.svg?m4uqfv#brand') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'brand' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-alipay:before {
  content: "\e900";
}
.logo-amazon:before {
  content: "\e901";
}
.logo-amplify:before {
  content: "\e902";
}
.logo-android:before {
  content: "\e903";
}
.logo-angular:before {
  content: "\e904";
}
.logo-ao3:before {
  content: "\e905";
}
.logo-appflow:before {
  content: "\e906";
}
.logo-apple-appstore:before {
  content: "\e907";
}
.logo-apple-ar:before {
  content: "\e908";
}
.logo-apple:before {
  content: "\e909";
}
.logo-behance:before {
  content: "\e90a";
}
.logo-bitbucket:before {
  content: "\e90b";
}
.logo-bitcoin:before {
  content: "\e90c";
}
.logo-bsky:before {
  content: "\e90d";
}
.logo-buffer:before {
  content: "\e90e";
}
.logo-capacitor:before {
  content: "\e90f";
}
.logo-chrome:before {
  content: "\e910";
}
.logo-closed-captioning:before {
  content: "\e911";
}
.logo-codepen:before {
  content: "\e912";
}
.logo-css3:before {
  content: "\e913";
}
.logo-designernews:before {
  content: "\e914";
}
.logo-deviantart:before {
  content: "\e915";
}
.logo-discord:before {
  content: "\e916";
}
.logo-docker:before {
  content: "\e917";
}
.logo-dribbble:before {
  content: "\e918";
}
.logo-dropbox:before {
  content: "\e919";
}
.logo-edge:before {
  content: "\e91a";
}
.logo-electron:before {
  content: "\e91b";
}
.logo-euro:before {
  content: "\e91c";
}
.logo-facebook:before {
  content: "\e91d";
}
.logo-figma:before {
  content: "\e91e";
}
.logo-firebase:before {
  content: "\e91f";
}
.logo-firefox:before {
  content: "\e920";
}
.logo-flickr:before {
  content: "\e921";
}
.logo-foursquare:before {
  content: "\e922";
}
.logo-github:before {
  content: "\e923";
}
.logo-gitlab:before {
  content: "\e924";
}
.logo-google-playstore:before {
  content: "\e925";
}
.logo-google:before {
  content: "\e926";
}
.logo-hackernews:before {
  content: "\e927";
}
.logo-html5:before {
  content: "\e928";
}
.logo-instagram:before {
  content: "\e929";
}
.logo-ionic:before {
  content: "\e92a";
}
.logo-ionitron:before {
  content: "\e92b";
}
.logo-javascript:before {
  content: "\e92c";
}
.logo-laravel:before {
  content: "\e92d";
}
.logo-linkedin:before {
  content: "\e92e";
}
.logo-markdown:before {
  content: "\e92f";
}
.logo-mastodon:before {
  content: "\e930";
}
.logo-medium:before {
  content: "\e931";
}
.logo-microsoft:before {
  content: "\e932";
}
.logo-no-smoking:before {
  content: "\e933";
}
.logo-nodejs:before {
  content: "\e934";
}
.logo-npm:before {
  content: "\e935";
}
.logo-octocat:before {
  content: "\e936";
}
.logo-paypal:before {
  content: "\e937";
}
.logo-pinterest:before {
  content: "\e938";
}
.logo-playstation:before {
  content: "\e939";
}
.logo-pwa:before {
  content: "\e93a";
}
.logo-python:before {
  content: "\e93b";
}
.logo-react:before {
  content: "\e93c";
}
.logo-reddit:before {
  content: "\e93d";
}
.logo-rss:before {
  content: "\e93e";
}
.logo-sass:before {
  content: "\e93f";
}
.logo-skype:before {
  content: "\e940";
}
.logo-slack:before {
  content: "\e941";
}
.logo-snapchat:before {
  content: "\e942";
}
.logo-soundcloud:before {
  content: "\e943";
}
.logo-spirit:before {
  content: "\e944";
}
.logo-stackoverflow:before {
  content: "\e945";
}
.logo-steam:before {
  content: "\e946";
}
.logo-stencil:before {
  content: "\e947";
}
.logo-tableau:before {
  content: "\e948";
}
.logo-tiktok:before {
  content: "\e949";
}
.logo-trapeze:before {
  content: "\e94a";
}
.logo-tumblr-box:before {
  content: "\e94b";
}
.logo-tumblr:before {
  content: "\e94c";
}
.logo-tux:before {
  content: "\e94d";
}
.logo-twitch:before {
  content: "\e94e";
}
.logo-twitter:before {
  content: "\e94f";
}
.logo-usd:before {
  content: "\e950";
}
.logo-venmo:before {
  content: "\e951";
}
.logo-vercel:before {
  content: "\e952";
}
.logo-vimeo:before {
  content: "\e953";
}
.logo-vk:before {
  content: "\e954";
}
.logo-vue:before {
  content: "\e955";
}
.logo-wattpad:before {
  content: "\e956";
}
.logo-web-component:before {
  content: "\e957";
}
.logo-wechat:before {
  content: "\e958";
}
.logo-whatsapp:before {
  content: "\e959";
}
.logo-windows:before {
  content: "\e95a";
}
.logo-wordpress:before {
  content: "\e95b";
}
.logo-x:before {
  content: "\e95c";
}
.logo-xbox:before {
  content: "\e95d";
}
.logo-xing:before {
  content: "\e95e";
}
.logo-yahoo:before {
  content: "\e95f";
}
.logo-yen:before {
  content: "\e960";
}
.logo-youtube:before {
  content: "\e961";
}
