@import "../../../styles/index.scss";

.headerLogo {
  height: $header-size;
  min-width: 210px;

  .linkLogo {
    display: flex;
    align-items: center;

    img {
      min-width: 70px;
      height: auto;
    }
    
    .logoTexto {
      height: $header-size;
      .logoSvg {
        width: 140px;
      }
    }
  }
}
