@import "../../styles/index.scss";

.titulo {
  &.serpia {
    background-color: $dourado;
  }
  &.noite {
    background-color: $secondary-color-noite;
  }
}

.main {
  &.serpia {
    background-color: $dourado;
  }
  &.noite {
    background-color: $secondary-color-noite;
  }
  .mainContent {
    border-radius: 65px 65px 0 0;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 100px;
    p:first-child {
      text-indent: 0px;
    }
    p {
      text-indent: 50px;
    }
    &.serpia {
      background-color: $primary-color-serpia;
    }
    &.noite {
      background-color: $primary-color-noite;
    }
  }
}

@media (max-width: 1024px) {
  .main {
    .mainContent {
      border-radius: 30px 30px 0 0;
      padding-top: 30px;
    }
  } 
}
