@import '../../../styles/index.scss';

// mds que bagunça ta isso daqui

.card {
    margin: 5rem;
    display: flex;
    justify-content: center;
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 25px;
    // animação de aumentar tamanho
    transition: transform .2s, box-shadow .2s ease-in-out;
    
    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.75);
    }

    .infoFanart {
        color: $text-color-serpia;
        border-radius: 25px;
        display: flex;
        align-items: flex-end;
        height: 100%;
        width: 100%;
        position: absolute;
        
    }
}