.sinopseFonte{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    color: #000;
    line-height: 1rem;
    text-align: justify;
}

.alinhaSinopse{
    padding-top: 2vh;
    padding-left: .6vw;
}