@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.teste{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: #000;
    margin-top: 1%;
    line-height: 15px;
    text-align: justify;
}

.alinhamentosinopse{
    padding-top: 2.5%;
    padding-left: 6%;
    
}