.titulo{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    color: #5F4B32;
}

.alinhamentotitulo{
    padding-top: 1vh;
    padding-left: .6vw;
}