@import '../../../styles/index.scss';

.alinhamento{
    padding-top: 7px;
    padding-left: 8px;

    .fonte{
        font-family: "Figtree", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: italic;
        color: $text-color-serpia;
    }
}