@import "../../../styles/index.scss";

.form {
  /*background-color: #ecdbb7;*/
  height: 40px;
  display: flex;
  border-radius: 12px;
  input {
    color: #5f4b32;
    margin-left: 24px;
    .open {
      background-color: red;  
    }
  }

  button {
    background-color: #ecdbb7;
    border-radius: 12px;
    svg {
      width: 26px;
      margin-right: 15px;
      color: #5f4b32;
    }
  }
}
