@import "../../../styles/index.scss";

.form {
  background-color: #ecdbb7;
  height: 38px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  width: 160px;
  transition: width 0.3s ease;
  input {
    margin-left: 24px;
    width: 100%;
    &::placeholder {
      color: #ecdbb7;
      font-style: italic;
      font-weight: 400;
      font-size: 20px;
      transition: color 0.3s ease;
    }
  }

  button {
    background-color: #ecdbb7;
    border-radius: 12px;
    cursor: pointer;
    padding-inline: 12px;
    svg {
      width: 20px;
      color: #5f4b32;
      transition: transform .1s ease;
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        color: black;
      }
    }
  }

  &.open {
    width: 60%;
    //border: 1px solid #000;
    input {
      &::placeholder {
        color: $text-color-serpia;
      }
    }
  }
}
