@import './base/reset';

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.img-bg-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

html {
    font-size: 100%;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
