$primary-color-serpia: #FBF0D9;
$secondary-color-serpia: #DFDFDF;
$tertiary-color-serpia: #FCFCFC;
$text-color-serpia: #5F4B32;

$primary-color-noite: #111822;
$secondary-color-noite: #333740;
$tertiary-color-noite: #6C6A6B;
$text-color-noite: #ECECEC;

$dourado: #DFB25A;
$rosa: #EE9399;
$botao-atualizacao: #ECDBB7;
$hover-tag: #5f4b3280;