@import '../../../styles/index.scss';

.tags{
    font-family: "Figtree";
    font-weight: 300;
    font-size: .75rem;
    padding-block: 5px;
    padding-inline: 14px;
    border-radius: 20px;
    margin: 3px;
    background-color: $hover-rosa;
    color: $tertiary-color-serpia;

    &:hover{
        cursor: pointer;
        background-color: $rosa;
    }

    .a{
        text-decoration: none;
    }
}
