@import '../../stylus/index.scss';

.main {
    height: calc(100vh - 64px - 116px);
    display: flex;
    justify-content: center;
    align-items: center;
    &.serpia {
        background-color: $primary-color-serpia;
        color: $text-color-serpia;
    }
    &.noite {
        background-color: $primary-color-noite;
        color: $dourado;
    }
    .caixaTexto {
        max-width: 350px;
        span {
            font-family: "Roboto";
            &:first-child {
                font-weight: 700;
                font-size: 50px;
            }
            &:nth-child(3) {
                font-weight: 500;
                font-size: 30px;
            }
        }
    }
}