@import './base/reset';

// Fontes
@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.wrapper {
    max-width: 1200px;
    margin: auto;
}

html {
    font-size: 100%;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    background-color: var(--bg);
}

.heading {
    text-align: center;
    color: var(--bar);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    span {
        color: var(--white);
        text-transform: uppercase;
    }
}

.button {
    margin-top: 1rem;
    display: inline-block;
    padding: 4px 4px;
    font-size: 16px;
    color: var(--black);
    background-color: var(--bg);
    border: 1px solid #B2C375;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background: var(--border-color);
        color: white;
        transition: 0.4;
        letter-spacing: 0.2rem;
    }
}

.home {
    margin: 170px;
    padding: 0;
    line-height: 1.5;
    section {

        padding: 2rem 7%;
    }
    h1 {
        padding: 1px;
        color: var(--black);
        margin: auto;
    }
    p {
        padding: 5px;
        color: var(--black);
        margin: auto;
    }
}

.profile .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 20px;
    .box {
        padding: 20px;
        text-align: center;
        border: var(--border);
        background-color: white;
        img {
            height: 100px;
            border-radius: 50%;
        }
        h1 {
            color: var(--black);
            font-size: 20px;
            padding: 10px;
        }
        div {
            color: var(--black);
            font-size: 16px;
            padding: 10px;
            text-align: justify;
        }
    }
}
.guapoverse .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 30px;
    .box {
        padding: 20px;
        text-align: center;
        border: none;
        background-color: none;
        img {
            height: 190px;
        }
        h1 {
            color: var(--black);
            font-size: 20px;
            padding: 10px;
        }
        a {
            color: var(--black);
            text-decoration: underline;
            &:hover{
                background-color: var(--border-color);
            }
        }
    }
}

a {
    color: black;
    text-decoration: none;
    &:hover{
        color: black;
    }
}

.dropdown-button {
    background-color: var(--bar);
    color: var(--black);
    padding: 0px;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    &:hover .dropdown-content {
        display: block;
    }
    &:hover .dropdown-button {
        color: var(--border-color);
        border-bottom: 0.1rem solid var(--border-color);
        padding-bottom: 0.5rem;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a {
        color: black;
        padding: 12px 12px;
        text-decoration: none;
        display: block;
        &:hover {
            background-color: #ddd;
        }
    }
}

.avatar {
    vertical-align: middle;
    align-items: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .footer-col {
        width: 25%;
        margin-bottom: 20px;
    }
}
@media (max-width:600px) {
    .footer-col {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .home, .profile .box-container{
        width: 80%;
        margin-bottom: 10px;
        margin: 170px 60px;
        align-items: center;
    }
}
@media (max-width:600px) {
    .home, .profile .box-container{
        width: 80%;
        margin: 150px 60px;
        padding-top: 10px;
        margin-bottom: 10px;
        align-items: center;
    }
}
