@import '../../../styles/index.scss';

.botao{
    background: #ECDBB7;
    padding-block: 8px;
    padding-inline: 15px;
    border-radius: 12px;
    margin: 5px;
    color: $text-color-serpia;

    &:hover{
        cursor: pointer;
        color: $tertiary-color-serpia;
        background-color: $text-color-serpia;
    }
    
    .icone{
        font-size: 20px;
    }
}