$primary-color-serpia: #FBF0D9;
$secondary-color-serpia: #333740;
$tertiary-color-serpia: #6C6A6B;
$text-color-serpia: #ECECEC;

$primary-color-noite: #111822;
$secondary-color-noite: #333740;
$tertiary-color-noite: #6C6A6B;
$text-color-noite: #ECECEC;

$dourado: #DFB25A;