@import '../../styles/index.scss';

.alinha{
    display: flex;
    justify-content: center;

    .imagem{
        width: 60%;
        height: auto;
        border-radius: 30px;
    }
}
@media screen and (max-width: 600px) {
    .alinha{
        .imagem{
                width: 80%;
        }
    }
}
