@import '../../styles/index.scss';

.header {
  display: flex;
  // align-items: center;
  height: $header-size;
  // position: fixed;
  // top: 0;
  width: 100%;
  border-bottom: 1px solid $dourado;
  // cor nova?
  background-color: #FCFCFC;
  .headerContent {
    background-color: rgba(255, 0, 0, 0.137);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
