@import '../../styles/index.scss';

.header {
  display: flex;
  // align-items: center;
  height: $header-size;
  // position: fixed;
  // top: 0;
  width: 100%;
  border-bottom: 1px solid $dourado;
  // cor nova?
  background-color: #FCFCFC;
}
