@import '../../styles/index.scss';

.main {
    min-height: calc(100vh - $footer-size - $header-size);
    margin-top: $header-size;
    &.serpia {
        background-color: $primary-color-serpia;
        color: $text-color-serpia;
    }
    &.noite {
        background-color: $primary-color-noite;
        color: $dourado;
    }
}