@font-face {
  font-family: 'ionicon';
  src:  url('fonts/ionicon.eot?htxflc');
  src:  url('fonts/ionicon.eot?htxflc#iefix') format('embedded-opentype'),
    url('fonts/ionicon.ttf?htxflc') format('truetype'),
    url('fonts/ionicon.woff?htxflc') format('woff'),
    url('fonts/ionicon.svg?htxflc#ionicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ionicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ol-accessibility:before {
  content: "\e900";
}
.ol-act-notification:before {
  content: "\e901";
}
.ol-add-circle:before {
  content: "\e902";
}
.ol-add:before {
  content: "\e903";
}
.ol-airplane:before {
  content: "\e904";
}
.ol-alarm:before {
  content: "\e905";
}
.ol-albums:before {
  content: "\e906";
}
.ol-alert-circle:before {
  content: "\e907";
}
.ol-alert:before {
  content: "\e908";
}
.ol-american-football:before {
  content: "\e909";
}
.ol-analytics:before {
  content: "\e90a";
}
.ol-aperture:before {
  content: "\e90b";
}
.ol-apps:before {
  content: "\e90c";
}
.ol-archive:before {
  content: "\e90d";
}
.ol-arrow-back-circle:before {
  content: "\e90e";
}
.ol-arrow-back:before {
  content: "\e90f";
}
.ol-arrow-down-circle:before {
  content: "\e910";
}
.ol-arrow-down-left-box:before {
  content: "\e911";
}
.ol-arrow-down-right-box:before {
  content: "\e912";
}
.ol-arrow-down:before {
  content: "\e913";
}
.ol-arrow-forward-circle:before {
  content: "\e914";
}
.ol-arrow-forward:before {
  content: "\e915";
}
.ol-arrow-redo-circle:before {
  content: "\e916";
}
.ol-arrow-redo:before {
  content: "\e917";
}
.ol-arrow-undo-circle:before {
  content: "\e918";
}
.ol-arrow-undo:before {
  content: "\e919";
}
.ol-arrow-up-circle:before {
  content: "\e91a";
}
.ol-arrow-up-left-box:before {
  content: "\e91b";
}
.ol-arrow-up-right-box:before {
  content: "\e91c";
}
.ol-arrow-up:before {
  content: "\e91d";
}
.ol-at-circle:before {
  content: "\e91e";
}
.ol-at:before {
  content: "\e91f";
}
.ol-attach:before {
  content: "\e920";
}
.ol-backspace:before {
  content: "\e921";
}
.ol-bag-add:before {
  content: "\e922";
}
.ol-bag-check:before {
  content: "\e923";
}
.ol-bag-handle:before {
  content: "\e924";
}
.ol-bag-remove:before {
  content: "\e925";
}
.ol-bag:before {
  content: "\e926";
}
.ol-balloon:before {
  content: "\e927";
}
.ol-ban:before {
  content: "\e928";
}
.ol-bandage:before {
  content: "\e929";
}
.ol-bar-chart:before {
  content: "\e92a";
}
.ol-barbell:before {
  content: "\e92b";
}
.ol-barcode:before {
  content: "\e92c";
}
.ol-baseball:before {
  content: "\e92d";
}
.ol-basket:before {
  content: "\e92e";
}
.ol-basketball:before {
  content: "\e92f";
}
.ol-battery-charging:before {
  content: "\e930";
}
.ol-battery-dead:before {
  content: "\e931";
}
.ol-battery-full:before {
  content: "\e932";
}
.ol-battery-half:before {
  content: "\e933";
}
.ol-beaker:before {
  content: "\e934";
}
.ol-bed:before {
  content: "\e935";
}
.ol-beer:before {
  content: "\e936";
}
.ol-bicycle:before {
  content: "\e937";
}
.ol-binoculars:before {
  content: "\e938";
}
.ol-bluetooth:before {
  content: "\e939";
}
.ol-boat:before {
  content: "\e93a";
}
.ol-body:before {
  content: "\e93b";
}
.ol-bonfire:before {
  content: "\e93c";
}
.ol-book:before {
  content: "\e93d";
}
.ol-bookmark:before {
  content: "\e93e";
}
.ol-bookmarks:before {
  content: "\e93f";
}
.ol-bowling-ball:before {
  content: "\e940";
}
.ol-briefcase:before {
  content: "\e941";
}
.ol-browsers:before {
  content: "\e942";
}
.ol-brush:before {
  content: "\e943";
}
.ol-bug:before {
  content: "\e944";
}
.ol-build:before {
  content: "\e945";
}
.ol-bulb:before {
  content: "\e946";
}
.ol-bus:before {
  content: "\e947";
}
.ol-business:before {
  content: "\e948";
}
.ol-cafe:before {
  content: "\e949";
}
.ol-calculator:before {
  content: "\e94a";
}
.ol-calendar-clear:before {
  content: "\e94b";
}
.ol-calendar-number:before {
  content: "\e94c";
}
.ol-calendar:before {
  content: "\e94d";
}
.ol-call:before {
  content: "\e94e";
}
.ol-camera-reverse:before {
  content: "\e94f";
}
.ol-camera:before {
  content: "\e950";
}
.ol-car-sport:before {
  content: "\e951";
}
.ol-car:before {
  content: "\e952";
}
.ol-card:before {
  content: "\e953";
}
.ol-caret-back-circle:before {
  content: "\e954";
}
.ol-caret-back:before {
  content: "\e955";
}
.ol-caret-down-circle:before {
  content: "\e956";
}
.ol-caret-down:before {
  content: "\e957";
}
.ol-caret-forward-circle:before {
  content: "\e958";
}
.ol-caret-forward:before {
  content: "\e959";
}
.ol-caret-up-circle:before {
  content: "\e95a";
}
.ol-caret-up:before {
  content: "\e95b";
}
.ol-cart:before {
  content: "\e95c";
}
.ol-cash:before {
  content: "\e95d";
}
.ol-cellular:before {
  content: "\e95e";
}
.ol-chapters:before {
  content: "\e95f";
}
.ol-chatbox-ellipses:before {
  content: "\e960";
}
.ol-chatbox:before {
  content: "\e961";
}
.ol-chatbubble-ellipses:before {
  content: "\e962";
}
.ol-chatbubble:before {
  content: "\e963";
}
.ol-chatbubbles:before {
  content: "\e964";
}
.ol-checkbox:before {
  content: "\e965";
}
.ol-checkmark-circle:before {
  content: "\e966";
}
.ol-checkmark-done-circle:before {
  content: "\e967";
}
.ol-checkmark-done:before {
  content: "\e968";
}
.ol-checkmark:before {
  content: "\e969";
}
.ol-chevron-back-circle:before {
  content: "\e96a";
}
.ol-chevron-back:before {
  content: "\e96b";
}
.ol-chevron-collapse:before {
  content: "\e96c";
}
.ol-chevron-down-circle:before {
  content: "\e96d";
}
.ol-chevron-down:before {
  content: "\e96e";
}
.ol-chevron-expand:before {
  content: "\e96f";
}
.ol-chevron-forward-circle:before {
  content: "\e970";
}
.ol-chevron-forward:before {
  content: "\e971";
}
.ol-chevron-up-circle:before {
  content: "\e972";
}
.ol-chevron-up:before {
  content: "\e973";
}
.ol-clipboard:before {
  content: "\e974";
}
.ol-close-circle:before {
  content: "\e975";
}
.ol-close:before {
  content: "\e976";
}
.ol-cloud-circle:before {
  content: "\e977";
}
.ol-cloud-done:before {
  content: "\e978";
}
.ol-cloud-download:before {
  content: "\e979";
}
.ol-cloud-offline:before {
  content: "\e97a";
}
.ol-cloud-upload:before {
  content: "\e97b";
}
.ol-cloud:before {
  content: "\e97c";
}
.ol-cloudy-night:before {
  content: "\e97d";
}
.ol-cloudy:before {
  content: "\e97e";
}
.ol-code-download:before {
  content: "\e97f";
}
.ol-code-slash:before {
  content: "\e980";
}
.ol-code-working:before {
  content: "\e981";
}
.ol-code:before {
  content: "\e982";
}
.ol-cog:before {
  content: "\e983";
}
.ol-color-fill:before {
  content: "\e984";
}
.ol-color-filter:before {
  content: "\e985";
}
.ol-color-palette:before {
  content: "\e986";
}
.ol-color-wand:before {
  content: "\e987";
}
.ol-compass:before {
  content: "\e988";
}
.ol-construct:before {
  content: "\e989";
}
.ol-contract:before {
  content: "\e98a";
}
.ol-contrast:before {
  content: "\e98b";
}
.ol-copy:before {
  content: "\e98c";
}
.ol-create:before {
  content: "\e98d";
}
.ol-crop:before {
  content: "\e98e";
}
.ol-cube:before {
  content: "\e98f";
}
.ol-cut:before {
  content: "\e990";
}
.ol-desktop:before {
  content: "\e991";
}
.ol-diamond:before {
  content: "\e992";
}
.ol-dice:before {
  content: "\e993";
}
.ol-disc:before {
  content: "\e994";
}
.ol-document-attach:before {
  content: "\e995";
}
.ol-document-lock:before {
  content: "\e996";
}
.ol-document-text:before {
  content: "\e997";
}
.ol-document:before {
  content: "\e998";
}
.ol-documents:before {
  content: "\e999";
}
.ol-download:before {
  content: "\e99a";
}
.ol-duplicate:before {
  content: "\e99b";
}
.ol-ear:before {
  content: "\e99c";
}
.ol-earth:before {
  content: "\e99d";
}
.ol-easel:before {
  content: "\e99e";
}
.ol-egg:before {
  content: "\e99f";
}
.ol-ellipse:before {
  content: "\e9a0";
}
.ol-ellipsis-horizontal-circle:before {
  content: "\e9a1";
}
.ol-ellipsis-horizontal:before {
  content: "\e9a2";
}
.ol-ellipsis-vertical-circle:before {
  content: "\e9a3";
}
.ol-ellipsis-vertical:before {
  content: "\e9a4";
}
.ol-enter:before {
  content: "\e9a5";
}
.ol-exit:before {
  content: "\e9a6";
}
.ol-expand:before {
  content: "\e9a7";
}
.ol-extension-puzzle:before {
  content: "\e9a8";
}
.ol-eye-off:before {
  content: "\e9a9";
}
.ol-eye:before {
  content: "\e9aa";
}
.ol-eyedrop:before {
  content: "\e9ab";
}
.ol-fast-food:before {
  content: "\e9ac";
}
.ol-female:before {
  content: "\e9ad";
}
.ol-file-tray-full:before {
  content: "\e9ae";
}
.ol-file-tray-stacked:before {
  content: "\e9af";
}
.ol-file-tray:before {
  content: "\e9b0";
}
.ol-film:before {
  content: "\e9b1";
}
.ol-filter-circle:before {
  content: "\e9b2";
}
.ol-filter:before {
  content: "\e9b3";
}
.ol-finger-print:before {
  content: "\e9b4";
}
.ol-fish:before {
  content: "\e9b5";
}
.ol-fitness:before {
  content: "\e9b6";
}
.ol-flag:before {
  content: "\e9b7";
}
.ol-flame:before {
  content: "\e9b8";
}
.ol-flash-off:before {
  content: "\e9b9";
}
.ol-flash:before {
  content: "\e9ba";
}
.ol-flashlight:before {
  content: "\e9bb";
}
.ol-flask:before {
  content: "\e9bc";
}
.ol-flower:before {
  content: "\e9bd";
}
.ol-folder-open:before {
  content: "\e9be";
}
.ol-folder:before {
  content: "\e9bf";
}
.ol-football:before {
  content: "\e9c0";
}
.ol-footsteps:before {
  content: "\e9c1";
}
.ol-funnel:before {
  content: "\e9c2";
}
.ol-game-controller:before {
  content: "\e9c3";
}
.ol-gift:before {
  content: "\e9c4";
}
.ol-git-branch:before {
  content: "\e9c5";
}
.ol-git-commit:before {
  content: "\e9c6";
}
.ol-git-compare:before {
  content: "\e9c7";
}
.ol-git-merge:before {
  content: "\e9c8";
}
.ol-git-network:before {
  content: "\e9c9";
}
.ol-git-pull-request:before {
  content: "\e9ca";
}
.ol-glasses:before {
  content: "\e9cb";
}
.ol-globe:before {
  content: "\e9cc";
}
.ol-golf:before {
  content: "\e9cd";
}
.ol-grid:before {
  content: "\e9ce";
}
.ol-hammer:before {
  content: "\e9cf";
}
.ol-hand-left:before {
  content: "\e9d0";
}
.ol-hand-right:before {
  content: "\e9d1";
}
.ol-happy:before {
  content: "\e9d2";
}
.ol-hardware-chip:before {
  content: "\e9d3";
}
.ol-headset:before {
  content: "\e9d4";
}
.ol-heart-circle:before {
  content: "\e9d5";
}
.ol-heart-dislike-circle:before {
  content: "\e9d6";
}
.ol-heart-dislike:before {
  content: "\e9d7";
}
.ol-heart-half:before {
  content: "\e9d8";
}
.ol-heart:before {
  content: "\e9d9";
}
.ol-help-buoy:before {
  content: "\e9da";
}
.ol-help-circle:before {
  content: "\e9db";
}
.ol-help:before {
  content: "\e9dc";
}
.ol-history:before {
  content: "\e9dd";
}
.ol-home:before {
  content: "\e9de";
}
.ol-hourglass:before {
  content: "\e9df";
}
.ol-ice-cream:before {
  content: "\e9e0";
}
.ol-id-card:before {
  content: "\e9e1";
}
.ol-image:before {
  content: "\e9e2";
}
.ol-images:before {
  content: "\e9e3";
}
.ol-infinite:before {
  content: "\e9e4";
}
.ol-information-circle:before {
  content: "\e9e5";
}
.ol-information:before {
  content: "\e9e6";
}
.ol-invert-mode:before {
  content: "\e9e7";
}
.ol-journal:before {
  content: "\e9e8";
}
.ol-key:before {
  content: "\e9e9";
}
.ol-keypad:before {
  content: "\e9ea";
}
.ol-language:before {
  content: "\e9eb";
}
.ol-laptop:before {
  content: "\e9ec";
}
.ol-layers:before {
  content: "\e9ed";
}
.ol-leaf:before {
  content: "\e9ee";
}
.ol-library:before {
  content: "\e9ef";
}
.ol-link:before {
  content: "\e9f0";
}
.ol-list-circle:before {
  content: "\e9f1";
}
.ol-list:before {
  content: "\e9f2";
}
.ol-locate:before {
  content: "\e9f3";
}
.ol-location:before {
  content: "\e9f4";
}
.ol-lock-closed:before {
  content: "\e9f5";
}
.ol-lock-open:before {
  content: "\e9f6";
}
.ol-log-in:before {
  content: "\e9f7";
}
.ol-log-out:before {
  content: "\e9f8";
}
.ol-logo-alipay:before {
  content: "\e9f9";
}
.ol-logo-amazon:before {
  content: "\e9fa";
}
.ol-logo-amplify:before {
  content: "\e9fb";
}
.ol-logo-android:before {
  content: "\e9fc";
}
.ol-logo-angular:before {
  content: "\e9fd";
}
.ol-logo-appflow:before {
  content: "\e9fe";
}
.ol-logo-apple-appstore:before {
  content: "\e9ff";
}
.ol-logo-apple-ar:before {
  content: "\ea00";
}
.ol-logo-apple:before {
  content: "\ea01";
}
.ol-logo-behance:before {
  content: "\ea02";
}
.ol-logo-bitbucket:before {
  content: "\ea03";
}
.ol-logo-bitcoin:before {
  content: "\ea04";
}
.ol-logo-buffer:before {
  content: "\ea05";
}
.ol-logo-capacitor:before {
  content: "\ea06";
}
.ol-logo-chrome:before {
  content: "\ea07";
}
.ol-logo-closed-captioning:before {
  content: "\ea08";
}
.ol-logo-codepen:before {
  content: "\ea09";
}
.ol-logo-css3:before {
  content: "\ea0a";
}
.ol-logo-designernews:before {
  content: "\ea0b";
}
.ol-logo-deviantart:before {
  content: "\ea0c";
}
.ol-logo-discord:before {
  content: "\ea0d";
}
.ol-logo-docker:before {
  content: "\ea0e";
}
.ol-logo-dribbble:before {
  content: "\ea0f";
}
.ol-logo-dropbox:before {
  content: "\ea10";
}
.ol-logo-edge:before {
  content: "\ea11";
}
.ol-logo-electron:before {
  content: "\ea12";
}
.ol-logo-euro:before {
  content: "\ea13";
}
.ol-logo-facebook:before {
  content: "\ea14";
}
.ol-logo-figma:before {
  content: "\ea15";
}
.ol-logo-firebase:before {
  content: "\ea16";
}
.ol-logo-firefox:before {
  content: "\ea17";
}
.ol-logo-flickr:before {
  content: "\ea18";
}
.ol-logo-foursquare:before {
  content: "\ea19";
}
.ol-logo-github:before {
  content: "\ea1a";
}
.ol-logo-gitlab:before {
  content: "\ea1b";
}
.ol-logo-google-playstore:before {
  content: "\ea1c";
}
.ol-logo-google:before {
  content: "\ea1d";
}
.ol-logo-hackernews:before {
  content: "\ea1e";
}
.ol-logo-html5:before {
  content: "\ea1f";
}
.ol-logo-instagram:before {
  content: "\ea20";
}
.ol-logo-ionic:before {
  content: "\ea21";
}
.ol-logo-ionitron:before {
  content: "\ea22";
}
.ol-logo-javascript:before {
  content: "\ea23";
}
.ol-logo-laravel:before {
  content: "\ea24";
}
.ol-logo-linkedin:before {
  content: "\ea25";
}
.ol-logo-markdown:before {
  content: "\ea26";
}
.ol-logo-mastodon:before {
  content: "\ea27";
}
.ol-logo-medium:before {
  content: "\ea28";
}
.ol-logo-microsoft:before {
  content: "\ea29";
}
.ol-logo-no-smoking:before {
  content: "\ea2a";
}
.ol-logo-nodejs:before {
  content: "\ea2b";
}
.ol-logo-npm:before {
  content: "\ea2c";
}
.ol-logo-octocat:before {
  content: "\ea2d";
}
.ol-logo-paypal:before {
  content: "\ea2e";
}
.ol-logo-pinterest:before {
  content: "\ea2f";
}
.ol-logo-playstation:before {
  content: "\ea30";
}
.ol-logo-pwa:before {
  content: "\ea31";
}
.ol-logo-python:before {
  content: "\ea32";
}
.ol-logo-react:before {
  content: "\ea33";
}
.ol-logo-reddit:before {
  content: "\ea34";
}
.ol-logo-rss:before {
  content: "\ea35";
}
.ol-logo-sass:before {
  content: "\ea36";
}
.ol-logo-skype:before {
  content: "\ea37";
}
.ol-logo-slack:before {
  content: "\ea38";
}
.ol-logo-snapchat:before {
  content: "\ea39";
}
.ol-logo-soundcloud:before {
  content: "\ea3a";
}
.ol-logo-stackoverflow:before {
  content: "\ea3b";
}
.ol-logo-steam:before {
  content: "\ea3c";
}
.ol-logo-stencil:before {
  content: "\ea3d";
}
.ol-logo-tableau:before {
  content: "\ea3e";
}
.ol-logo-tiktok:before {
  content: "\ea3f";
}
.ol-logo-trapeze:before {
  content: "\ea40";
}
.ol-logo-tumblr:before {
  content: "\ea41";
}
.ol-logo-tux:before {
  content: "\ea42";
}
.ol-logo-twitch:before {
  content: "\ea43";
}
.ol-logo-twitter:before {
  content: "\ea44";
}
.ol-logo-usd:before {
  content: "\ea45";
}
.ol-logo-venmo:before {
  content: "\ea46";
}
.ol-logo-vercel:before {
  content: "\ea47";
}
.ol-logo-vimeo:before {
  content: "\ea48";
}
.ol-logo-vk:before {
  content: "\ea49";
}
.ol-logo-vue:before {
  content: "\ea4a";
}
.ol-logo-web-component:before {
  content: "\ea4b";
}
.ol-logo-wechat:before {
  content: "\ea4c";
}
.ol-logo-whatsapp:before {
  content: "\ea4d";
}
.ol-logo-windows:before {
  content: "\ea4e";
}
.ol-logo-wordpress:before {
  content: "\ea4f";
}
.ol-logo-x:before {
  content: "\ea50";
}
.ol-logo-xbox:before {
  content: "\ea51";
}
.ol-logo-xing:before {
  content: "\ea52";
}
.ol-logo-yahoo:before {
  content: "\ea53";
}
.ol-logo-yen:before {
  content: "\ea54";
}
.ol-logo-youtube:before {
  content: "\ea55";
}
.ol-magnet:before {
  content: "\ea56";
}
.ol-mail-open:before {
  content: "\ea57";
}
.ol-mail-unread:before {
  content: "\ea58";
}
.ol-mail:before {
  content: "\ea59";
}
.ol-male-female:before {
  content: "\ea5a";
}
.ol-male:before {
  content: "\ea5b";
}
.ol-man:before {
  content: "\ea5c";
}
.ol-map:before {
  content: "\ea5d";
}
.ol-medal:before {
  content: "\ea5e";
}
.ol-medical:before {
  content: "\ea5f";
}
.ol-medkit:before {
  content: "\ea60";
}
.ol-megaphone:before {
  content: "\ea61";
}
.ol-menu:before {
  content: "\ea62";
}
.ol-mic-circle:before {
  content: "\ea63";
}
.ol-mic-off-circle:before {
  content: "\ea64";
}
.ol-mic-off:before {
  content: "\ea65";
}
.ol-mic:before {
  content: "\ea66";
}
.ol-moon:before {
  content: "\ea67";
}
.ol-move:before {
  content: "\ea68";
}
.ol-musical-note:before {
  content: "\ea69";
}
.ol-musical-notes:before {
  content: "\ea6a";
}
.ol-navigate-circle:before {
  content: "\ea6b";
}
.ol-navigate:before {
  content: "\ea6c";
}
.ol-newspaper:before {
  content: "\ea6d";
}
.ol-notifications-circle:before {
  content: "\ea6e";
}
.ol-notifications-off-circle:before {
  content: "\ea6f";
}
.ol-notifications-off:before {
  content: "\ea70";
}
.ol-notifications:before {
  content: "\ea71";
}
.ol-nuclear:before {
  content: "\ea72";
}
.ol-nutrition:before {
  content: "\ea73";
}
.ol-open:before {
  content: "\ea74";
}
.ol-options:before {
  content: "\ea75";
}
.ol-paper-plane:before {
  content: "\ea76";
}
.ol-partly-sunny:before {
  content: "\ea77";
}
.ol-pause-circle:before {
  content: "\ea78";
}
.ol-pause:before {
  content: "\ea79";
}
.ol-paw:before {
  content: "\ea7a";
}
.ol-pencil:before {
  content: "\ea7b";
}
.ol-people-circle:before {
  content: "\ea7c";
}
.ol-people:before {
  content: "\ea7d";
}
.ol-person-add:before {
  content: "\ea7e";
}
.ol-person-circle:before {
  content: "\ea7f";
}
.ol-person-remove:before {
  content: "\ea80";
}
.ol-person:before {
  content: "\ea81";
}
.ol-phone-landscape:before {
  content: "\ea82";
}
.ol-phone-portrait:before {
  content: "\ea83";
}
.ol-pie-chart:before {
  content: "\ea84";
}
.ol-pin:before {
  content: "\ea85";
}
.ol-pint:before {
  content: "\ea86";
}
.ol-pizza:before {
  content: "\ea87";
}
.ol-planet:before {
  content: "\ea88";
}
.ol-play-back-circle:before {
  content: "\ea89";
}
.ol-play-back:before {
  content: "\ea8a";
}
.ol-play-circle:before {
  content: "\ea8b";
}
.ol-play-forward-circle:before {
  content: "\ea8c";
}
.ol-play-forward:before {
  content: "\ea8d";
}
.ol-play-skip-back-circle:before {
  content: "\ea8e";
}
.ol-play-skip-back:before {
  content: "\ea8f";
}
.ol-play-skip-forward-circle:before {
  content: "\ea90";
}
.ol-play-skip-forward:before {
  content: "\ea91";
}
.ol-play:before {
  content: "\ea92";
}
.ol-podium:before {
  content: "\ea93";
}
.ol-power:before {
  content: "\ea94";
}
.ol-pricetag:before {
  content: "\ea95";
}
.ol-pricetags:before {
  content: "\ea96";
}
.ol-print:before {
  content: "\ea97";
}
.ol-prism:before {
  content: "\ea98";
}
.ol-pulse:before {
  content: "\ea99";
}
.ol-push:before {
  content: "\ea9a";
}
.ol-qr-code:before {
  content: "\ea9b";
}
.ol-radio-button-off:before {
  content: "\ea9c";
}
.ol-radio-button-on:before {
  content: "\ea9d";
}
.ol-radio:before {
  content: "\ea9e";
}
.ol-rainy:before {
  content: "\ea9f";
}
.ol-reader:before {
  content: "\eaa0";
}
.ol-receipt:before {
  content: "\eaa1";
}
.ol-recording:before {
  content: "\eaa2";
}
.ol-refresh-circle:before {
  content: "\eaa3";
}
.ol-refresh:before {
  content: "\eaa4";
}
.ol-reload-circle:before {
  content: "\eaa5";
}
.ol-reload:before {
  content: "\eaa6";
}
.ol-remove-circle:before {
  content: "\eaa7";
}
.ol-remove:before {
  content: "\eaa8";
}
.ol-reorder-four:before {
  content: "\eaa9";
}
.ol-reorder-three:before {
  content: "\eaaa";
}
.ol-reorder-two:before {
  content: "\eaab";
}
.ol-repeat:before {
  content: "\eaac";
}
.ol-resize:before {
  content: "\eaad";
}
.ol-restaurant:before {
  content: "\eaae";
}
.ol-return-down-back:before {
  content: "\eaaf";
}
.ol-return-down-forward:before {
  content: "\eab0";
}
.ol-return-up-back:before {
  content: "\eab1";
}
.ol-return-up-forward:before {
  content: "\eab2";
}
.ol-ribbon:before {
  content: "\eab3";
}
.ol-rocket:before {
  content: "\eab4";
}
.ol-rose:before {
  content: "\eab5";
}
.ol-sad:before {
  content: "\eab6";
}
.ol-save:before {
  content: "\eab7";
}
.ol-scale:before {
  content: "\eab8";
}
.ol-scan-circle:before {
  content: "\eab9";
}
.ol-scan:before {
  content: "\eaba";
}
.ol-school:before {
  content: "\eabb";
}
.ol-search-circle:before {
  content: "\eabc";
}
.ol-search:before {
  content: "\eabd";
}
.ol-send:before {
  content: "\eabe";
}
.ol-server:before {
  content: "\eabf";
}
.ol-settings:before {
  content: "\eac0";
}
.ol-shapes:before {
  content: "\eac1";
}
.ol-share-social:before {
  content: "\eac2";
}
.ol-share:before {
  content: "\eac3";
}
.ol-shield-checkmark:before {
  content: "\eac4";
}
.ol-shield-half:before {
  content: "\eac5";
}
.ol-shield:before {
  content: "\eac6";
}
.ol-shirt:before {
  content: "\eac7";
}
.ol-shuffle:before {
  content: "\eac8";
}
.ol-skull:before {
  content: "\eac9";
}
.ol-snow:before {
  content: "\eaca";
}
.ol-sparkles:before {
  content: "\eacb";
}
.ol-speedometer:before {
  content: "\eacc";
}
.ol-square:before {
  content: "\eacd";
}
.ol-star-half:before {
  content: "\eace";
}
.ol-star:before {
  content: "\eacf";
}
.ol-stats-chart:before {
  content: "\ead0";
}
.ol-stop-circle:before {
  content: "\ead1";
}
.ol-stop:before {
  content: "\ead2";
}
.ol-stopwatch:before {
  content: "\ead3";
}
.ol-storefront:before {
  content: "\ead4";
}
.ol-subway:before {
  content: "\ead5";
}
.ol-sunny:before {
  content: "\ead6";
}
.ol-swap-horizontal:before {
  content: "\ead7";
}
.ol-swap-vertical:before {
  content: "\ead8";
}
.ol-sync-circle:before {
  content: "\ead9";
}
.ol-sync:before {
  content: "\eada";
}
.ol-tablet-landscape:before {
  content: "\eadb";
}
.ol-tablet-portrait:before {
  content: "\eadc";
}
.ol-telescope:before {
  content: "\eadd";
}
.ol-tennisball:before {
  content: "\eade";
}
.ol-terminal:before {
  content: "\eadf";
}
.ol-text:before {
  content: "\eae0";
}
.ol-thermometer:before {
  content: "\eae1";
}
.ol-thumbs-down:before {
  content: "\eae2";
}
.ol-thumbs-up:before {
  content: "\eae3";
}
.ol-thunderstorm:before {
  content: "\eae4";
}
.ol-ticket:before {
  content: "\eae5";
}
.ol-time:before {
  content: "\eae6";
}
.ol-timer:before {
  content: "\eae7";
}
.ol-today:before {
  content: "\eae8";
}
.ol-toggle:before {
  content: "\eae9";
}
.ol-trail-sign:before {
  content: "\eaea";
}
.ol-train:before {
  content: "\eaeb";
}
.ol-transgender:before {
  content: "\eaec";
}
.ol-trash-bin:before {
  content: "\eaed";
}
.ol-trash:before {
  content: "\eaee";
}
.ol-trending-down:before {
  content: "\eaef";
}
.ol-trending-up:before {
  content: "\eaf0";
}
.ol-triangle:before {
  content: "\eaf1";
}
.ol-trophy:before {
  content: "\eaf2";
}
.ol-tv:before {
  content: "\eaf3";
}
.ol-umbrella:before {
  content: "\eaf4";
}
.ol-unlink:before {
  content: "\eaf5";
}
.ol-videocam-off:before {
  content: "\eaf6";
}
.ol-videocam:before {
  content: "\eaf7";
}
.ol-volume-high:before {
  content: "\eaf8";
}
.ol-volume-low:before {
  content: "\eaf9";
}
.ol-volume-medium:before {
  content: "\eafa";
}
.ol-volume-mute:before {
  content: "\eafb";
}
.ol-volume-off:before {
  content: "\eafc";
}
.ol-walk:before {
  content: "\eafd";
}
.ol-wallet:before {
  content: "\eafe";
}
.ol-warning:before {
  content: "\eaff";
}
.ol-watch:before {
  content: "\eb00";
}
.ol-water:before {
  content: "\eb01";
}
.ol-wifi:before {
  content: "\eb02";
}
.ol-wine:before {
  content: "\eb03";
}
.ol-woman:before {
  content: "\eb04";
}
.ol-words:before {
  content: "\eb05";
}
