@import '../../stylus/index.scss';


div.container {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    z-index: 900;
}

div.op1 {
    padding-block: auto;
}

div.op2 {
    width: 35vw;
    min-width:40vw;
    float:right;
    padding-top: 124px;
}

span.titulo {
    width: 100%;
    font-weight: 900;
    font-size: 3vw;
    display: inline-block;
    padding: 0vw 1vw;
    position: relative;
}

span.texto{
    font-size: 2vw;
    padding: 1.1vw;
    display: inline-block;
}

div.objFilho{
    display: flex;
    justify-content: center;
    
    padding: 2vw 1.1vw;
}

.imagem{
    position: absolute;
    left: 50px;
    top: 20px;
    height: 402px;
    width: 471px;
}

.botao{
    margin: 20px;
    width: 49px;
    height: 30px;
    position: absolute;
    left: 354px;
    top: 47px;
    border-radius: 100%;
    align-items: center;
}

.botao:hover{
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.3);
}

.teste{
    top: -41px;
    left: -40px;
    position: absolute;
    border-radius: 100%;
}

@media (max-width: 1024px) {
    div.container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 100vw;
        div.op1 {
            padding-block: 0;
            .imagem {
                position: static;
                width: 376.8px; // 80% de 471
                height: auto;
            }
            .botao {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(136%, -558%) scale(0.8);
                -ms-transform: translate(0%, 0%) scale(0.8);
                margin-left: auto;
                margin-right: auto;
            }
        }

        div.op2 {
            font-size: large;
            min-width: 80vw;
            float:right;
            height: 40px;
            padding-top: 0px;
            span.titulo {
                width: 100%;
                font-weight: 900;
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            span.texto{
                font-size: 1.4rem;
                padding: 0vw;
                display: inline-block;
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
    }

    
}