@import '../../stylus/index.scss';


div.container {
    display: flex;
    justify-content: center;
    z-index: 900;
    position: relative;
    padding-top: 64px;
}

div.op1 {
    width: 35vw;
    min-width:30vw;
    position: relative;

}

div.op2 {
    width: 35vw;
    min-width:40vw;
    float:right;
    padding-top: 124px;
}

span.titulo {
    width: 100%;
    font-weight: 900;
    font-size: 3vw;
    display: inline-block;
    padding: 0vw 1vw;
    position: relative;
}

span.texto{
    font-size: 2vw;
    padding: 1.1vw;
    display: inline-block;
}

div.objFilho{
    padding: 2vw 1.1vw;
}

.imagem{
    position: absolute;
    left: 50px;
    top: 20px;
}

.teste{
    top: -41px;
    left: -40px;
    position: absolute;
    border-radius: 100%;
}

.botao{
    margin: 20px;
    width: 49px;
    height: 30px;
    position: absolute;
    left: 354px;
    top: 47px;
    border-radius: 100%;
    align-items: center;
}

.botao:hover{
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.3);
}