@import '../../stylus/index.scss';


div.container {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    z-index: 900;
    height: calc(100vh - 64px - 193px);
}

div.op1 {
    padding-block: auto;
    display: flex;
    align-items: center;
    position: relative;
    .imagem{
        width: 471px;
        height: auto;
    }
    
    .botao{
        border-radius: 100%;
        position: absolute;
        top: 20%;
        left: 80%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        margin-left: auto;
        margin-right: auto;
        // a {
        //     cursor: default;
        // }
    }
    
    .botao:hover{
        //!esqueci qual cor q tava
        box-shadow: 10px 10px 6px rgba(255, 0, 0, 1);
    }
    
    .teste{
        top: -41px;
        left: -40px;
        position: absolute;
        border-radius: 100%;
    }
}

div.op2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-inline: 1vw;
    width: 50vw;
    span.titulo {
        // width: 100%;
        text-align: left;
        font-weight: 900;
        font-size: 4rem;
        display: inline-block;
        position: relative;
    }
    
    span.texto{
        font-size: 1.6rem;
        // padding: 1.1vw;
        display: inline-block;
        text-align: left;
    }
}

div.objFilho{
    display: flex;
    justify-content: center;
    
    padding: 2vw 1.1vw;
}

@media (max-width: 1024px) {
    div.container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        align-content: space-between;
        div.op1 {
            padding-block: 0;
            .imagem {
                position: static;
                width: 376.8px; // 80% de 471
                height: auto;
            }
            .botao {
                position: absolute;
                top: 11%;
                left: 67%;
                transform: translate(-50% -50%);
                -ms-transform: translate(-50% -50%);
                margin-left: auto;
                margin-right: auto;
            }
            .teste {
                transform: scale(80%);
                -ms-transform: scale(80%);
            }
        }

        div.op2 {
            font-size: large;
            min-width: 80vw;
            span.titulo {
                width: 100%;
                font-weight: 900;
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            span.texto{
                font-size: 1.4rem;
                padding: 0vw;
                display: inline-block;
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
    }

    
}