@import "../../../styles/index.scss";

.saludoBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  &:hover {
    background-color: #00000020;
  }
  &:active {
    background-color: #00000030;
  }
  .pfp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 4px;
    img {
      width: 32px;
      border-radius: 100%;
    }
  }
  .saludoText {
    display: flex;
    flex-direction: column;
    .saludo {
      font-size: 10px;
    }
    .name {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
