@import "../../../styles/index.scss";

.saludoBlock {
  display: flex;
  flex-direction: row;
  .pfp {
    img {
      width: 30px;
      border-radius: 100%;
    }
  }
  .saludoText {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    .saludo {

    }
    .name {
    }
  }
}
