@import '../../stylus/index.scss';

header {
  padding-block: 0px;
  &.serpia {
    background-color: $primary-color-serpia;
  }
  &.noite {
    background-color: $primary-color-noite;
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.logo-header {
  display: flex;
  align-items: center;

  img {
    width: 55px;
  }
}

.logo-header-text {
  display: flex;
  margin-block: auto;
  justify-content: center;
  font-size: 15px;

  a {
    font-family: "Roboto";
    font-weight: 490;
    line-height: 1;
    color: #5F4B32;
  }
}

.button-change {
  cursor: pointer;
  padding: 5px;

  svg {
    width: 30px;
  }
}
