@import url("../../css/index.scss");

footer {
    background-color: var(--bar);
    padding-block: 40px;
}

.footer-content {
    display: flex;
}

.logo-footer {
    display: flex;
    justify-content: flex-end;
    img {
        width: 122px;
    }
}

.logo-footer-text {
    display: flex;
    flex-direction: column;
    margin-block: auto;
    justify-content: space-between;
    span {
        font-family: "Rhodium Libre", serif;
        font-weight: 700;
        line-height: 1;
        &:nth-child(1) {
            font-size: 30px;
        }
        &:nth-child(2) {
            font-size: 40px;
        }
    }
}

.footer-text {
    width: 100%;
    margin-left: 75px;
    display: flex;
    justify-content: flex-end;
}

.footer-section {
    padding-left: 75px;
    h4 {
        font-size: 24px;
        font-family: "Roboto", sans-serif;
    }
} 

.footer-list {
    display: flex;
    flex-direction: column;
    a {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }
    .svg-contatos svg{
        margin-right: 10px;
        width: 18px;
    }
}

.footer-list a, .svg-contatos svg {
    margin-block: 6px;
}