@import '../../styles/index.scss';

h4 {
    // font-family: 'Figtree';
    font-size: 1.4rem;
    margin-bottom: 18px;
}

.footer {
    height: $footer-size;
    border-top: 1px solid $dourado;

    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 0;
    width: 100vw;

    background-color: #FCFCFC;
    color: #353535;

    & > * {
        width: 100%;
        display: flex;
    }

    .container {
        margin-top: 50px;
        justify-content: space-between;
    }

    .lang {
        justify-content: flex-end;
    }

    .comerc {
        justify-content: center;
    }
    
    // &.serpia {
    //     background-color: $primary-color-serpia;
    //     .logoFooterText span {
    //         color: $text-color-serpia;
    //     }
    // }
    // &.noite {
    //     background-color: $primary-color-noite;
    //     .logoFooterText span {
    //         color: $dourado;
    //     }
    // }
}