@import '../../../../styles/index.scss';

.conteudo{
    width:230px;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    background-color: #ECDBB7;
    color: $text-color-serpia;
    border-radius: 12px;
    max-height: 40vh;
    visibility: hidden;
    gap: 15px;

    &:hover{
        background-color: $text-color-serpia;
        color: $tertiary-color-serpia;
    }

    .icon{
        width: 24px;
        height: 24px;
    }
    
    .texto::before{    
        font-family: "Figtree", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        color: $text-color-serpia;
    }
}

.active{
    visibility: visible;
}