@import '../../../styles/index.scss';

.link{
    display: contents;
    
    .botao{
        width: fit-content;
        border-radius: 12px;
        padding-block: 8px;
        padding-inline: 10px;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        color: $text-color-serpia;
        background-color: transparent;
        border: 1px $text-color-serpia solid;
        display: flex;
        
        .texto{
            font-family: Figtree;
            font-weight: 400;
            font-size: 1rem;
        }
        
        .icon{
            font-size: 1.1rem;
        }
    }
}