@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import "../../../../styles/index.scss";

.numTitleCap {
  font-family: "Gloock", serif;
  font-size: 4rem;
  font-weight: 300;
  &.serpia {
    color: #fff;
  }
  &.noite {
    color: $dourado;
  }
}

@media (max-width: 1024px) {
  .numTitleCap {
    margin-top: 0.5rem;
    font-size: 3rem;
  }  
}
