@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import "../../../../styles/index.scss";

.numTitleCap {
  font-family: "Gloock", serif;
  font-size: 64px;
  font-weight: 300;
  &.serpia {
    color: #fff;
  }
  &.noite {
    color: $dourado;
  }
}
