.principal{
    margin-top: 2vh;
    display: flex;
    align-items: end;
}

.background{
    background: #fff;
    display: flex;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    padding: 1.5vw;
}
.alinhaTag{
    padding-top: 2.5vh;
    text-align: end;
}

.alinhaTitulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linha{
    border-bottom: 2px #EE9399 solid;
    margin-left: 0.6vw;
    max-width: 85%;
}

.alinhaConteudo{
    margin-right: 2vw;
}

.alinhaImagem{
    margin-bottom: -0.6vh;
}

.alinhaInfo{
    display: flex;
    justify-content: space-between;
}